
<ActionBar color="#fff" backgroundColor="#15507c" borderWidth="1" borderColor="#15507c" title="Ups, ocurrió un problema." textAlignment="center" class="action-bar"></ActionBar>

<GridLayout rows="*" columns="*" backgroundColor="#ddd">
	<Label textWrap="true" textAlignment="center" fontSize="20" color="#596067" margin="10" marginTop="120" text="No posee una conexión a internet para navegar por la app."></Label>
	<Button backgroundColor="#15507c" height="200px" text="REINTENTAR" (tap)="onButtonTap()" class="btn btn-primary active"></Button>
</GridLayout>