<GridLayout
	rows="*"
	columns="*"
	[visibility]="visible">
   
   	<Label 
   		text="Cargando..."> </Label>

    <WebView #myWebView
    	row="0"  
    	[src]="webViewSrc"></WebView>

</GridLayout>
