
.main-label {
  top: 100px;
  font-size: 18;
  margin-top: 32;
  margin-bottom: 32;
  letter-spacing: 0.2;
}
.main-container{
  margin-left: 12;
  margin-right: 12;
}
.btn{
	font-size: 20;
	// padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.icon{
    vertical-align: center;
    margin: 6;
}

/*WebView {
    border-color: lightgray; 
    border-width: 0.5;
}*/
